annotated-types==0.7.0
click==8.3.1
dnspython==2.8.0
email-validator==2.3.0
idna==3.11
Jinja2==3.1.6
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
packaging==25.0
phonenumbers==9.0.20
pycountry==24.6.1
pydantic==2.12.5
pydantic-extra-types==2.10.6
pydantic_core==2.41.5
Pygments==2.19.2
rendercv==2.5
rendercv-fonts==0.5.1
rich==14.2.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
shellingham==1.5.4
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
typst==0.14.4
watchdog==6.0.0
